@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Welsh</h1>
    <p>Learn the Welsh language.</p>
    <h2>Links</h2>
    <ul>
        <li><a href="/Welsh">Welsh Info</a></li>
        <li><a href="/Welsh/Consonants">Welsh Consonants</a></li>

    </ul>
</div>
